body{
    font-family: Report;
    text-align: center;
}

h1 {
    color: var(--azul-oscuro);
    font-weight: normal;
    font-size: 5.2vw;
    margin-bottom: 3.5vh;
}
 #userpic{
    width: 8.6vw;
    margin-bottom: 8.7vh;
 }

 #complementarias, #obligatorias{
    display: inline-block;
    width: 34vw;
    height: 14.7vw;
    font-size: 3.6vw;
    font-family: 'Varela Round', sans-serif;
    color: white;
    cursor: pointer;
    padding-top: 5.9vw;
 }


#complementarias{
    background-color: var(--verde);
    margin-right: 10.4vw;
}

#obligatorias{
    background-color: var(--rojo);
}
.lecturas-obligatorias{
    position: fixed;
    background-color: #FF6A39;
    width: 250px;
    height: 250px;
    top: 250px;
    left: 800px;
}

.mover{
    position: relative;
    text-align: center;
    top: 80px;
    color: white;
}

.imagen{
    position: relative;
    top: 60px;
    left: 600px;
}
