<html>
	<head>
		<title>Lectura 3 - Space</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/lecturas.css') }}" type="text/css">
	</head>
	<body>
		<button id="menuC" class="izq side" type="submit" name="menuC_btn">
			<img src="{{ url_for('static', filename='img/left-arrow.png') }}">
		</button>
		
		<button id="salir" class="der side" type="submit" name="salir_btn" >
			Salir
		</button>

		<div id="sidenav" class="comp">
			<div>
				<button id="lectura1" class="link" name="lecturaC1_btn">Lectura 1</button>
				<button id="lectura2" class="link" name="lecturaC2_btn">Lectura 2</button>
				<b class="active">Lectura 3</b>
			</div>
		</div>

		<div class="main">
			<h1>Lectura 3</h1>
			<h2>Space</h2>
			<div class="text">
				<p>When you look out at the stars at night from wherever you are in the world, all the stars are pretty much the same when observing them. That’s until you take a closer look through your telescope. This is when you will find that you are in fact looking back through time.</p>
				<p>This is when you will start to see that there are billions of stars that are millions of miles apart, and that there are billions of galaxies too, which are clusters of billions of stars. The bigger stars and galaxies you see are the ones that are closer to Earth.</p><p>Without stars which are made up of huge balls of gas we wouldn’t exist, and without the universe being as old as it is the stars wouldn’t be able to do what they do so they both work well together. Even though the universe is so old, it never stops growing or changing.</p>
				<p>Can you imagine that the universe is made up of the same stuff now as it was all those billions of years ago? The material however changes to create all different types of strange stuff that makes up galaxies, stars and planets that all look different to one another. Even right now new stars are being formed by all this material and gas smashing together. It’s amazing!</p>
				<p>How we look into the universe to find all of these wonderful things is called astronomy and the people who study this are called ‘Astronomers’. Astronomers study the universe every day by looking through great big telescopes from the tops of mountains to get the best view. These people are very smart indeed. They study and collect information (kind of like what you do for your class projects) by looking very hard at how light from space objects move. They make discoveries almost every day, and grow their knowledge to learn more about how this wonderful universe works.</p>	
			</div>
		</div>

		<div id="logo">
			<img src="{{ url_for('static', filename='img/logo.png') }}">
		</div>
	</body>
</html>