<html>
	<head>
		<title>Lectura 1 - AQUÍ VA EL TÍTULO</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="../../css/styles.css">
		<link rel="stylesheet" href="../../css/lecturas.css">
	</head>
	<body>
		<a href="../home.html">
			<div id="back">
				<img src="../../img/home-button.png">
			</div>
		</a>
		<div id="salir">
			Salir
		</div>
		<div id="sidenav" class="comp">
			<div>
				<b class="active">Lectura 1</b>
				<a href="lectura02.html">Lectura 2</a>
				<a href="lectura03.html">Lectura 3</a>
			</div>
		</div>

		<div class="main">
			<h1>Lectura 1</h1>
			<div id="title">
				<h2>AQUÍ VA EL TÍTULO</h2>
				<div id="act-button" class="button">
						<button type="button">
							<a href="#actividad">
								Ir a la actividad
							</a>
						</button>

				</div>
			</div>
			<div class="text">
				
			</div>

			<div id="actividad">
				<div class="button">
					<button type="button">
						<a href="#">
							Terminar y calificar
						</a>
					</button>
				</div>
			</div>
		</div>

		<div id="logo">
			<img src="../../img/logo.png">
		</div>
	</body>
</html>