<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
	
	<link rel="stylesheet" href="../css/styles.css">
	<link rel="stylesheet" type="text/css" href="../css/index.css">
	
		


</head>
<body>

	<div class="container">
		
		<div class="column">
				
			<div class="leftside">

					<h1>Bienvenido</h1>

					<div class="text1">Esta aplicación es una herramienta complementaria a tu curso de inglés</div>

					<div class="text2">¿Aún no tienes cuenta?</div>

					<div class="button">
						
						<button type="button">Regístrate</button>

					</div>
					


			</div>

		</div>

		<div class="column">
				
			<div class="rightside">

				<form class="form_login">
					<div class="form_input1">
						<input type="text" name="usuario" id="usuario" placeholder="Usuario">
					</div>
					
					<div class="form_input2">
						<input type="text" name="contraseña" id="contraseña" placeholder="Contraseña">
					</div>

					<div class="button">
						
						<button type="button">Iniciar sesión</button>

					</div>

				</form>

			</div>

		</div>
	</div>



</body>
</html>