<html>
	<head>
		<title>Unidad 2 Lectura 2 - Space</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/lecturas.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/memorama.css') }}" type="text/css">

	</head>
	<body>
		<script type='text/javascript'>
		document.oncontextmenu = function(){return false}
		</script>
		<script>
		    /*function check(e)
		    {
		    alert(e.keyCode);
		    }*/
		    document.onkeydown = function(e) {
		            if (e.ctrlKey && (e.keyCode === 67 || e.keyCode === 86 || e.keyCode === 85 || e.keyCode === 117)) {//Alt+c, Alt+v will also be disabled sadly.
		                alert('Acción no permitida ¿estás intentando vulnerar el sitio :(?');
		            }
		            return true;

		        }
  	  </script>
		<form name="form_obligatorias_menu" method="POST">	
			<button id="menuO" class="izq side" type="submit" name="menuO_button">
				<img src="{{ url_for('static', filename='img/left-arrow.png') }}">
			</button>
		</form>
		<form name="form_salir" method="POST">	

		<button id="salir" class="der side" type="submit" name="salir_button" >
			Salir
		</button>
		</form>
		<form name="form_lecturas" method="POST">	

		<div id="sidenav">
			<div>
				<p>Unidad 2</p>
				<button id="lectura1" class="link" name="lecturaO2.1_button">Lectura 1</button>
				<b class="active">Lectura 2</b>
				<button id="lectura3" class="link" name="lecturaO2.3_button">Lectura 3</button>
			</div>
		</div>
		</form>

		<div class="main">
			<h1>Unidad 2 Lectura 2</h1>
			<div id="title">
				<h2>Space</h2>
				<div id="act-button" class="button">
						<button type="button" class="boton">
							<a href="#actividad">
								Ir a la actividad
							</a>
						</button>

				</div>
			</div>
			<div class="text">
						<p>When you look out at the stars at night you will start to see that there are billions of stars that are millions of miles apart, and that there are billions of galaxies too, which are clusters of billions of stars. The bigger stars and galaxies you see are the ones that are closer to Earth.</p>
						<p>How we look into the universe to find all of these wonderful things is called astronomy and the people who study this are called ‘Astronomers’. Astronomers study the universe every day by looking through great big telescopes from the tops of mountains to get the best view. </p>
			</div>

			<div id="actividad">
				<h2 id="act-title">Memorama</h2>
				<ul id="contenedor" class="flex-container">
					<!--Tarjeta 10-->
					<li id="carta10"  class="flex-item card par-5">
						<img id="cardBack10" class="card-back" src="{{ url_for('static', filename='img/memorama/back.png') }}" >
						<h4  id=cardFront10 class="card-front big">Astronomer</h4>
					</li>
					<!--Tarjeta 3-->
					<li id="carta3" class="flex-item card par-2">
						<img id ="cardFront3" class="card-front" src="{{ url_for('static', filename='img/memorama/galaxia.jpg') }}" alt=""/>
						<img id="cardBack3" class="card-back" src="{{ url_for('static', filename='img/memorama/back.png') }}" >
					</li>
					<!---Tarjeta 1-->
					<li id="carta1" class="flex-item card par-1">
						<img id="cardFront" class="card-front" src="{{ url_for('static', filename='img/memorama/estrellas.jpg') }}" alt=""/>
						<img id ="cardBack" class="card-back" src="{{ url_for('static', filename='img/memorama/back.png') }}" alt=""/>
					</li>
					<!--Tarjeta 8-->
					<li id="carta8"  class="flex-item card par-4">
						<img id="cardBack8" class="card-back" src="{{ url_for('static', filename='img/memorama/back.png') }}" >
						<h4 id=cardFront8 class="card-front">Earth</h4>
					</li>
					<!--Tarjeta 9-->
					<li id="carta9" class="flex-item card par-5">
						<img id ="cardFront9" class="card-front" src="{{ url_for('static', filename='img/memorama/astronomo.jpeg') }}" alt=""/>
						<img id="cardBack9" class="card-back" src="{{ url_for('static', filename='img/memorama/back.png') }}" >
					</li>
				</ul>

				<ul id="contenedor-2" class="flex-container">
					<!--Tarjeta 7-->
					<li id="carta7" class="flex-item card par-4">
						<img id ="cardFront7" class="card-front" src="{{ url_for('static', filename='img/memorama/tierra.jpeg') }}" alt=""/>
						<img id="cardBack7" class="card-back" src="{{ url_for('static', filename='img/memorama/back.png') }}" >
					</li>
					<!--Tarjeta 5-->
					<li id="carta5" class="flex-item card par-3">
						<img id ="cardFront5" class="card-front" src="{{ url_for('static', filename='img/memorama/Cielo.jpg') }}" alt=""/>
						<img id="cardBack5" class="card-back" src="{{ url_for('static', filename='img/memorama/back.png') }}" >
					</li>
					<!--Tarjeta 4-->
					<li id="carta4"  class="flex-item card par-2">
						<img id="cardBack4" class="card-back" src="{{ url_for('static', filename='img/memorama/back.png') }}" >
						<h4 id=cardFront4 class="card-front">Galaxy</h4>
					</li>
					
					<!--Tarjeta 6-->
					<li id="carta6"  class="flex-item card par-3">
						<img id="cardBack6" class="card-back" src="{{ url_for('static', filename='img/memorama/back.png') }}" >
						<h4 id=cardFront6 class="card-front">Sky</h4>
					</li>
					<!--Tarjeta 2-->
					<li id=carta2 class="flex-item card par-1">
						<img id= "cardBack2" class= "card-back" src="{{ url_for('static', filename='img/memorama/back.png') }}" alt=""/>
						<h4 id=cardFront2 class="card-front">Stars</h4>
					</li>
					
				</ul>
				<div class="button">
					<button id="calificar" type="submit" class="boton" onclick="EnviarResultado2()">
						Terminar y calificar
					</button>
				</div>
			</div>
		</div>
		<script src="{{ url_for('static', filename='js/muestra.js') }}"></script>

		<div id="logo">
			<img src="{{ url_for('static', filename='img/logo.png') }}">
		</div>
		
	</body>
</html>