<html>

	<head> 
		<title>Lecturas complementarias</title>

		<link rel="stylesheet" href="../css/styles.css" type="text/css">
	    <link rel="stylesheet" href="../css/complementarias.css" type="text/css">
	
	</head>
	<body>

		<a href="home.html">
			<div id="back">
				<img src="../img/home-button.png">
			</div>
		</a>
		<div id="salir">
			Salir
		</div>
		
		<h1>Lecturas complementarias</h1>

		<div class="container">
			<div class="menu" class="grid-template-column">
				<a href="complementarias/lectura01.html">Lectura 1</a>
				<a href="complementarias/lectura02.html">Lectura 2</a>
				<a href="complementarias/lectura03.html">Lectura 3</a>
			</div>
			
			<div class="grid-template-column text">
				Estas lecturas no son tomadas en cuenta para tu desempeño, recomendamos las leas para reforzar tus conocimientos.
			</div>
		</div>
		<div id="logo">
			<img src="../img/logo.png">
		</div>
	</body>

</html>