<html>

	<head> 
		<title>Lecturas complementarias</title>

		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/complementarias.css') }}" type="text/css">
	
	</head>
	<body>
		<form class="form_home" method="POST">
			<button id="home" class="izq side" type="submit" name="home_button">
				<img src="{{ url_for('static', filename='img/home-button.png') }}">
			</button>
		</form>
		<form class="form_home" method="POST">
			<button id="salir" class="der side" type="submit" name="salir_button" >
				Salir
			</button>
		</form>

		<h1>Lecturas complementarias</h1>
		<form class="form_complementarias" method="POST">
		<div class="container">
			<div class="menu" class="grid-template-column">
				<button id="lectura1" class="link" name="lecturaC1_button">Lectura 1</button>
				<button id="lectura2" class="link" name="lecturaC2_button">Lectura 2</button>
				<button id="lectura3" class="link" name="lecturaC3_button">Lectura 3</button>
			</div>
			
			<div class="grid-template-column text">
				Estas lecturas no son tomadas en cuenta para tu desempeño, recomendamos las leas para reforzar tus conocimientos.
			</div>
		</div>
		</form>
		<div id="logo">
			<img src="{{ url_for('static', filename='img/logo.png') }}">
		</div>
	</body>

</html>