<html>

	<head> 
		<title>Lecturas complementarias</title>

		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/complementarias.css') }}" type="text/css">
	
	</head>
	<body>

		<button id="home" class="izq side" type="submit" name="home_btn">
			<img src="{{ url_for('static', filename='img/home-button.png') }}">
		</button>
		
		<button id="salir" class="der side" type="submit" name="salir_btn" >
			Salir
		</button>
		
		<h1>Lecturas complementarias</h1>

		<div class="container">
			<div class="menu" class="grid-template-column">
				<button id="lectura1" class="link" name="lecturaC1_btn">Lectura 1</button>
				<button id="lectura2" class="link" name="lecturaC2_btn">Lectura 2</button>
				<button id="lectura3" class="link" name="lecturaC3_btn">Lectura 3</button>
			</div>
			
			<div class="grid-template-column text">
				Estas lecturas no son tomadas en cuenta para tu desempeño, recomendamos las leas para reforzar tus conocimientos.
			</div>
		</div>
		
		<div id="logo">
			<img src="{{ url_for('static', filename='img/logo.png') }}">
		</div>
	</body>

</html>