<html>

	<head> 
		<title>Grupo - crear</title>

		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/poco.css') }}" type="text/css">
	
	</head>
	<body>
		<form class="form_home" method="POST">
			<button id="home" class="izq side" type="submit" name="home_button">
				<img src="{{ url_for('static', filename='img/home-button.png') }}">
			</button>
		</form>
		<form class="form_salir" method="POST">
			<button id="salir" class="der side" type="submit" name="salir_button" >
				Salir
			</button>
		</form>


		<h1>Crear grupo</h1>

		<form class="form_codigo" method="POST">

		<div class="container">
			
			<div class="button">
				<button id="generarcodigo" class="boton" name="generarcodigo_button">
					Generar código
				</button>
			</div>
		</div>
		</form>

		<div id="logo">
			<img src="{{ url_for('static', filename='img/logo.png') }}">
		</div>
	</body>

</html>