<html>

	<head> 
		<title>Home</title>

		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" type="text/css">
	
	</head>
	<body>
		<button id="salir" class="der side" type="submit" name="salir_btn" >
			Salir
		</button>

		<button id="calif" class="small der side" type="submit" name="calif_btn">
			Calificaciones
		</button>

		<h1>Bienvenido estudiante</h1>

		<img id="userpic" src="{{ url_for('static', filename='img/estudiante.png') }}">

		<div class="container">
			<button id="complementarias">
				Lecturas complementarias
			</button>
			<button id="obligatorias">
				Lecturas obligatorias
			</button>
		</div>
		<div id="logo">
			<img src="{{ url_for('static', filename='img/logo.png') }}">
		</div>
	</body>

</html>