<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" type="text/css">
	
</head>
<body >
	<script type='text/javascript'>
		document.oncontextmenu = function(){return false}
	</script>
	<script>
    /*function check(e)
    {
    alert(e.keyCode);
    }*/
    document.onkeydown = function(e) {
            if (e.ctrlKey && (e.keyCode === 85 || e.keyCode === 117)) {//Alt+c, Alt+v will also be disabled sadly.
                alert('Acción no permitida ¿estás intentando vulnerar el sitio :(?');
            	return false;
            }else{
            	return true;
            }
            

        }
    </script>
    	
	<div class="container">
				
		<div class="leftside grid-template-column">

				<h1>Bienvenido</h1>

				<div class="text1">Esta aplicación es una herramienta complementaria a tu curso de inglés</div>

				<div class="text2">¿Aún no tienes cuenta?</div>
				<form name="register_form" method="POST">
				<div class="button">
					<button class="boton" type="submit" name="register_button">
						Regístrate
					</button>
				</div>
				</form>
		</div>

		<div class="rightside grid-template-column">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
				<div class="notification is-danger">
					{{messages[0]}}
				</div>
				{% endif %}
			{% endwith %}	
			<form class="form_login" method="POST">
				<div class="form_input1">
					<input type="text" name="usuario" id="usuario" placeholder="Usuario">
				</div>
				
				<div class="form_input2">
					<input type="password" name="contraseña" id="contraseña" placeholder="Contraseña">
				</div>

				<div class="button">
					<button class="boton" type="submit" name="login_button">Iniciar sesión</button>
				</div>
			</form>

		</div>
		
		<div id="logo">
			<img src="{{ url_for('static', filename='img/logo.png') }}">
		</div>
	</div>

	



</body>
</html>