<html>

	<head> 
		<title>Home - inicial </title>

		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/poco.css') }}" type="text/css">
	
	</head>
	<body>
		<form id="form_salir" method="POST">
		<button id="salir" class="der side" type="submit" name="salir_button" >
			Salir
		</button>
		</form>

		<h1 id="inicial">Unirse a grupo</h1>

		
		<div class="container">
			<form onsubmit="return false">
				<div>
					<input name="codigounirse" id="codigounirse" placeholder="Código del grupo">
				</div>

				<div class="button">
					<button id="unirse" type="submit" class="boton" name="unirse_btn" onclick="funcRegistroGrupo()">Unirse</button>
				</div>
			</form>
		</div>
		<div id="logo">
			<img src="{{ url_for('static', filename='img/logo.png') }}">
		</div>
	</body>

</html>