<html>

	<head> 
		<title>Home - inicial </title>

		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/poco.css') }}" type="text/css">
	
	</head>
	<body>
		
		<button id="salir" class="der side" type="submit" name="salir_btn" >
			Salir
		</button>

		<h1 id="inicial">Unirse a grupo</h1>

		
		<div class="container">
			<form>
				<div>
					<input name="codigounirse" id="codigounirse" placeholder="Código del grupo">
				</div>

				<div class="button">
					<button id="unirse" type="submit" class="boton" name="unirse_btn">Unirse</button>
				</div>
			</form>
		</div>
		<div id="logo">
			<img src="../img/logo.png">
		</div>
	</body>

</html>