<html>

	<head> 
		<title>Lecturas obligatorias</title>

		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/obligatorias.css') }}" type="text/css">
	
	</head>
	<body>
		<script type='text/javascript'>
		document.oncontextmenu = function(){return false}
		</script>
		<script>
		    /*function check(e)
		    {
		    alert(e.keyCode);
		    }*/
		    document.onkeydown = function(e) {
		            if (e.ctrlKey && (e.keyCode === 67 || e.keyCode === 86 || e.keyCode === 85 || e.keyCode === 117)) {//Alt+c, Alt+v will also be disabled sadly.
		                alert('Acción no permitida ¿estás intentando vulnerar el sitio :(?');
		            }
		            return true;

		        }
  	  </script>
		<form class="form_home" method="POST">
			<button id="home" class="izq side" type="submit" name="home_button">
				<img src="{{ url_for('static', filename='img/home-button.png') }}">
			</button>
		</form>
		<form class="form_salir" method="POST">
			<button id="salir" class="der side" type="submit" name="salir_button" >
				Salir
			</button>
		</form>
		
		<h1>Lecturas obligatorias</h1>
		<form class="form_obligatorias" method="POST">
			<div class="container">
				<div class="menu" class="grid-template-column">
					<p>Unidad 1</p>
					<button id="lectura1" class="link" name="lecturaO1.1_btn">Lectura 1</button>
					<button id="lectura2" class="link" name="lecturaCO1.2_btn">Lectura 2</button>
					<button id="lectura3" class="link" name="lecturaCO1.3_btn">Lectura 3</button>
				</div>
				<div class="menu" class="grid-template-column">
					<p>Unidad 2</p>
					<button id="lectura1" class="link" name="lecturaO2.1_btn">Lectura 1</button>
					<button id="lectura2" class="link" name="lecturaCO2.2_btn">Lectura 2</button>
					<button id="lectura3" class="link" name="lecturaCO2.3_btn">Lectura 3</button>
				</div>
			</div>
		</form>

		<div id="logo">
			<img src="{{ url_for('static', filename='img/logo.png') }}">
		</div>
	</body>

</html>