<html>

	<head> 
		<title>Lecturas obligatorias</title>

		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/obligatorias.css') }}" type="text/css">
	
	</head>
	<body>

		<a href="home.html">
			<div id="back">
				<img src="{{url_for('static', filename='img/home-button.png')}}">
			</div>
		</a>
		<div id="salir">
			<form class="form_salir" method="POST">
				<button type="submit" name="salir_button">Salir</button>
			</form>
		</div>
		
		<h1>Lecturas obligatorias</h1>

		<div class="container">
			<div class="menu" class="grid-template-column">
				<p>Unidad 1</p>
				<a href="obligatorias/unidad1/lectura01.html">Lectura 1</a>
				<a href="obligatorias/unidad1/lectura02.html">Lectura 2</a>
				<a href="obligatorias/unidad1/lectura03.html">Lectura 3</a>
			</div>

			<div class="menu" class="grid-template-column">
				<p>Unidad 2</p>
				<a href="obligatorias/unidad2/lectura01.html">Lectura 1</a>
				<a href="obligatorias/unidad2/lectura02.html">Lectura 2</a>
				<a href="obligatorias/unidad2/lectura03.html">Lectura 3</a>
			</div>
		</div>
		<div id="logo">
			<img src="{{url_for('static', filename='img/logo.png')}}">
		</div>
	</body>

</html>