<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8"/>
	<title>Registro</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/registro.css') }}" type="text/css">

</head>
<body>
	<div class="container">

		<button id="back" class="izq side" type="submit" name="back-btn">
			<img src="{{ url_for('static', filename='img/left-arrow.png') }}">
		</button>

		<h1>Registro</h1>
		

		<form id="registro">
			
			<div class="form_input1">
				<input type="text" name="usuario" id="usuario" placeholder="Usuario">
			</div>

			<div class="form_input2">
				<input type="text" name="contraseña" id="contraseña" placeholder="Contraseña">
			</div>

			<div class="form_input3">
				<input type="text" name="contraseña_conf" id="contraseña_conf" placeholder="Confirmar contraseña">
			</div>

			<div class="register_button">
				<button type="submit" class="boton">Registrarte</button>
			</div>

		</form>
		
		<div id="logo">
			<img src="{{ url_for('static', filename='img/logo.png') }}">
		</div>

	</div>

</body>
</html>