<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8"/>
	<title>Registro</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/registro.css') }}" type="text/css">
	    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
	    <script type="text/javascript" src="{{ url_for('static', filename='js/register.js') }}"></script> 

</head>
<body>
	<script type='text/javascript'>
		document.oncontextmenu = function(){return false}
		</script>
		<script>
		    /*function check(e)
		    {
		    alert(e.keyCode);
		    }*/
		    document.onkeydown = function(e) {
		            if (e.ctrlKey && (e.keyCode === 85 || e.keyCode === 117)) {//Alt+c, Alt+v will also be disabled sadly.
		                alert('Acción no permitida ¿estás intentando vulnerar el sitio :(?');
		            }
		            return true;

		        }	
  	  </script>
	<div class="container">
		<form name="form_arrow" method="POST">	
			<button id="back" class="izq side" type="submit" name="back-button">
				<img src="{{ url_for('static', filename='img/left-arrow.png') }}">
			</button>
		</form>
		<h1>Registro</h1>
		

		<form id="registro" onaction="inicial.html" onsubmit="return false">
			<div class="form_input0">
				<input type="text" name="nombre" id="nombre" placeholder="Nombre">
			</div>

			<div class="form_input1">
				<input type="text" name="usuario" id="usuario" placeholder="Usuario">
			</div>

			<div class="form_input2">
				<input type="text" name="contraseña" id="contraseña" placeholder="Contraseña">
			</div>

			<div class="form_input3">
				<input type="text" name="contraseña_conf" id="contraseña_conf" placeholder="Confirmar contraseña">
			</div>
			<div class="form_input4">
				<input type="text" name="grupo" id="grupo" placeholder="Grupo">
			</div>

			<div class="register_button">
				<!-- <input type="submit" class="boton" onclick="myFuncRegister()">Registrarte</button> -->
				<button id="calificar" type="submit" class="boton" onclick="myFuncRegister()" >
					Registrar
				</button>
			</div>
			

		</form>
		
		<div id="logo">
			<img src="{{ url_for('static', filename='img/logo.png') }}">
		</div>

	</div>

</body>
</html>