<html>
	<head>
		<title>Unidad 1 Lectura 1 - The History of Computers</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="../../../css/styles.css">
		<link rel="stylesheet" href="../../../css/lecturas.css">
	</head>
	<body>
		<a href="../../home.html">
			<div id="back">
				<img src="../../../img/home-button.png">
			</div>
		</a>
		<div id="salir">
			Salir
		</div>
		<div id="sidenav">
			<div>
				<p>Unidad 1</p>
				<b class="active">Lectura 1</b>
				<a href="lectura02.html">Lectura 2</a>
				<a href="lectura03.html">Lectura 3</a>
			</div>
		</div>

		<div class="main">
			<h1>Unidad 1 Lectura 1</h1>
			<div id="title">
				<h2>The History of Computers</h2>
				<div id="act-button" class="button">
						<button type="button">
							<a href="#actividad">
								Ir a la actividad
							</a>
						</button>

				</div>
			</div>
			<div class="text">
				<p>In 1833 a man by the name of Charles Babbage invented all the parts that are now used for a modern computer. But it was only 120 years later that the first ‘modern’ computers were invented.</p>
				<p>Konrad Zuse was the inventor of the first computer in the world in 1936 and he named it the Z1.</p>
				<p>In 1939, he created the Z2 as the first electro-mechanical computer in the world.</p>
				<p>So computers were born, and these early computers were made in the 1940s and were around the size of a large room and they used heaps of electricity.</p>
				<p>Can you imagine having a computer the size of a large room? How would you be able to sit in front of it?</p>
				<p>Computers as we know them today only really started being made in 1980.</p>
				<p>In 1980, the first one gigabyte disk drive was released in the world.</p>
				<p>It was a whopping US$40,000 with the weight of 550 pounds (almost 227kg). How on Earth did they move it?</p>
			</div>

			<div id="actividad">
				<div class="button">
					<button type="button">
						<a href="#">
							Terminar y calificar
						</a>
					</button>
				</div>
			</div>
		</div>

		<div id="logo">
			<img src="../../img/logo.png">
		</div>
	</body>
</html>