body{
    text-align: center;
    margin-top: 8.4vw;
}

h1 {
    color: var(--azul-oscuro);
    font-weight: normal;
    font-size: 5.2vw;
    margin-bottom: 3.5vh;
}

.container{
	display: inline-grid;
	grid-template-columns: 15.2vw 50%;
	margin: 0px;
	grid-gap: 9.5vw;
	margin-left: 6.5vw;
	margin-top: 2.9vw;

}

.menu {
	background-color: var(--amarillo-palido);
	padding-top: 1.6vw;
	text-align: center;
}

.menu div{
	margin-left: 4vw;
}

.menu .link {
	padding: 6px 0px 6px 0px;
	text-decoration: none;
	font-size: 2.8vw;
	color: var(--verde);
	display: inline-block;
	margin-bottom: 2vh;
	border: none;
	background-color: transparent;
	font-family: Report;
}

.menu .link:hover {
	color: var(--verde-oscuro);
}

.text{
	margin-top: 3vw;
	text-align: left;
}
