body{
    text-align: center;
}

h1 {
    color: var(--azul-oscuro);
    font-weight: normal;
    font-size: 5.2vw;
    margin-bottom: 3.5vh;
}

 #userpic{
    width: 6vw;
    margin-bottom: 8.7vh;
 }

 #complementarias, #obligatorias{
    display: inline-block;
    width: 34vw;
    height: 40vh;
    font-size: 3.6vw;
    font-family: 'Varela Round', sans-serif;
    color: white;
    cursor: pointer;
    border: none;
 }


#complementarias{
    background-color: var(--verde);
    margin-right: 10.4vw;
}

#complementarias button{
    
}

#complementarias:hover{
    background-color: var(--verde-oscuro);
}

#obligatorias{
    background-color: var(--rojo);
}

#obligatorias:hover{
    background-color: var(--rojo-oscuro);
}
