body{
    text-align: center;
    margin-top: 8.4vw;
}

h1 {
    color: var(--azul-oscuro);
    font-weight: normal;
    font-size: 5.2vw;
    margin-bottom: 3.5vh;
}

.container{
	display: inline-grid;
	grid-template-columns: 15.2vw 15.2vw;
	margin: 0px;
	grid-gap: 5.2vw;
	margin-top: 2.9vw;

}

.menu {
	background-color: var(--amarillo-palido);
	display: inline-grid;
	text-align: center;
	padding-top: 2.9vw;
	padding-bottom: 2.9vw;
}

.menu div{
	margin-left: 4vw;
}

.menu p {
	color: var(--azul);
	font-size: 3.3vw;
	padding: 6px 0px 6px 0px;
	text-decoration: none;
	margin: 0px;
	margin-bottom: 2.2vw;

}

.menu a {
	padding: 6px 0px 6px 0px;
	text-decoration: none;
	font-size: 2.8vw;
	color: var(--verde);
	display: block;
}

.menu a:hover {
	color: var(--verde-oscuro);
}