html{
	background-image: url("../img/img2-register.jpg");
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

.container{
	height: 100%;
	width: 100%;
	position: fixed;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 10px;
	
}

.register{
	display: flex;
	grid-column: 2;
	grid-row: 1;
}

.register_1{
	align-self: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Comfortaa', cursive;
	color: #EDBF47;
	font-size: 5vw;
}

.material-icons{
	color: white;
}



.form_register{
	grid-column: 2;
	grid-row: 2;
}

.form_input1, .form_input2, .form_input3{
	padding: 10px;
}

#usuario, #contraseña, #contraseña_conf{
	border: none;
	background-color: white;
	font-family: 'Comfortaa', cursive;
	font-size: 18px;
	padding: 15px;
	width: 95%;
}

button{
	background-color: #74CEE4;
	border: none;
	color: white;
	padding: 7px 55px;
	text-align: center;
	text-decoration: none;
	font-family: 'Varela Round', sans-serif;
	font-size: 1.7em;
}

.home_button1{
	border-radius: 0px 25px 25px 0px;
	padding: 7px 30px;
}

.register_button{
	text-align: center;
	padding-top: 30px;
}
